<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>form</title>
        <script type="text/javascript" src="/public/javascripts/validate.js"></script>
    </head>
    <body>
        <form onsubmit="return validateForm()" method="POST">
            Nombre:<br>
            <input type="text" id="nombre" name="nombre" placeholder="escribe tu nombre" required>
            <br>
            Apellido:<br>
            <input type="text" id="apellido" name="apellido" placeholder="escribe tu apellido" required>
            <br>
            Telefono:<br>
            <input type="text" id="telefono" name="telefono" placeholder="escribe tu telefono" required>
            <br>
            Email:<br>
            <input type="text" id="email" name="numero" placeholder="escribe tu correo" required>
            <br><br>
            <input ahref="/user" type="submit" value="Submit">
        </form> 
        
        <!--  -->

    </body>
</html>



