<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>daya challenge</title>
    </head>
    <body>
        <h1>Si quieres ver PONG debes clicar ping</h1>
        <nav>
            <!-- incluyo los links de navegacion.ejs que se ecuentran dentro de segmentos, y esta a su vez, en views -->
            <% include segmentos/navegacion.ejs %> 
        </nav>
    </body>
</html>